<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mark Attendance</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
<h2>Mark Attendance</h2>

<form method="POST">
    {% csrf_token %}

    <label>Employee:</label>
    <select name="employee" required>
        {% for emp in employees %}
        <option value="{{ emp.id }}">{{ emp.name }}</option>
        {% endfor %}
    </select><br><br>

    <label>In Time:</label>
    <input type="time" name="in_time" required><br><br>

    <label>Out Time:</label>
    <input type="time" name="out_time" required><br><br>

    <button type="submit">Submit</button>
</form>
    
</body>
</html>